/data
/module_python12_8_8.ipynb
/module_python12_8_ideal.ipynb
/module_python13.ipynb
/module_python13_4.ipynb
/module_python13_5.ipynb
/plotly
/python13_3.ipynb
/python13_6.ipynb
/python13_7.ipynb
/python13_9_10.ipynb
/python13_9_2.ipynb
/python13_9_3.ipynb
/python13_9_4.ipynb
/python13_9_5.ipynb
/python13_9_6.ipynb
/python13_9_7.ipynb
/python13_9_8.ipynb
/python13_9_9.ipynb
/Types_of_visualization.ipynb
/Visualization_Pandas.ipynb
/Visualization_Plotly.ipynb
/Visualization_Seaborn.ipynb